[Unit]
Description=Automated bead store checkpoint sync timer
Requires=bead-starvation-sync.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=1s

[Install]
WantedBy=timers.target
